body{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: my-font;
    src: url(fonts/Norse-Bold.otf);
}

#back-color{
    
    margin: 0%;
    padding: 0%;
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#left{
    width: 25%;
    height: 100vh;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
}

#logo-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.45);
    height: 15%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

#logo-image{
    box-sizing: border-box;
    margin: 3%;
    padding: 0%;
}

#logo-text{
    align-self: center;
    font-family: my-font, sans-serif;
    font-size: 60px;
    color: aliceblue;

}

#photho-reference{
    color: aliceblue;
    align-self: center;
    margin-top: auto;
    font-size: 10px;
    padding: 5px;
}

#image-link{
    color: aliceblue;
}

#rigth{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#top{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
    padding-left:  5%;
    font-family: sans-serif, monospace;
    font-size: 12px;
    background-color:#F9FAFB;
}

#midle{
    height: 25vh;
    background-color: #FFFFFF;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    padding: 5%;
    
    
}

#midle-text{
    font-family: sans-serif, monospace;
    font-weight: 700;
    margin: 0%;
    padding: 0%;
}

.form{
    display: flex;
}

.form-rigth{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.form-left{
    display: flex;
    flex-direction: column;
}

.form-label{
    font-size: 10px;
    font-weight: 100;
    color: rgb(48, 46, 46);
    margin-top: 8px;
}

.input-form{
    
    border-color: rgb(221, 221, 221);
    outline: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    transition: border-color 0.3s ease;
    height: 20px;
    flex: 1;
    
}

#password, #confirm-password{
    border-color: red;
}

.input-form:focus{
    border-color: blueviolet;
    outline: none;
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);

}

#bottom{
    box-sizing: border-box;
    background-color: #F9FAFB;
    padding: 5%;
    flex: 1;
    font-family: sans-serif, monospace;
    z-index: 0;
}

#submit-button{
    background-color: #596D48;
    color: aliceblue;
    width: 25%;
    height: 19%;
    border-radius: 8px;
    border-style: none;
    font-weight: 700;
}

#log-in{
    color: #596D48;
    text-decoration: none;
    font-weight: 700;
}